body {
    margin: 0;
    padding: 0;
    background-color: #e2ac48;
    font-family: 'Roboto', sans-serif;
}

.utility-bar {
    width: 100%;
    box-sizing: border-box;
    background-color: #4a0a0a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
    font-size: 14px;
}

.utility-left, .utility-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.utility-right a {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    vertical-align: middle;
}

.login-icon {
    width: 28px;
    height: 28px;
    object-fit: contain;
    vertical-align: middle;
    margin: 0;
    position: relative;
    top: 0;
}


.utility-bar a {
    color: #f2f2f2;
    text-decoration: none;
}

.utility-bar a:hover {
    text-decoration: underline;
}

.utility-btn {
    background-color: #f2b800;
    color: #691111;
    padding: 8px 18px;
    border-radius: 6px;
    border: 2px solid #691111;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}

.utility-btn:hover {
    background-color: #e0a800;
}

.divider {
    color: #999
}

.cart-icon {
    margin-left: auto;
    font-size: 20px;
    color: #f2f2f2;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

.cart-icon img {
    height: 96px;
}
.cart-panel {
    display: none;
    position: absolute;
    top: 100%;
    right: 20px;
    width: 250px;
    background-color: #fff6e5;
    border: 2px solid #6e0e0e;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.topnav {
    background-color: #691111;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    position: relative;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 11px 18px;
    font-family: 'Roboto', sans-serif;
}

.topnav a:hover {
    background-color: #ddd;
}

.logo {
    float: left;
    height: 100px; 
}